.personalizationsmarteditVariationComponentSelected-icon {
  background-image: url("../icons/selected_component.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.personalizationsmarteditComponentSelected,
.personalizationsmarteditVariationComponentSelected {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.modal-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #e0e9f0;
}
.modal_bigger {
  font-size: 15px;
}
.ySmartEditExperienceSelectorToolbar .yTemplateToolbar,
.ySmartEditExperienceSelectorToolbar .yTemplateToolbar > div {
  display: inline;
}
.red_color {
  color: red;
}
.personalizationsmarteditTopToolbarButton {
  padding-top: 6px;
  padding-bottom: 4px;
}
